
<%- include('partials/header.ejs') %>

<h1>CONTACT</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quae modi voluptates ut. Sequi, quod iure alias numquam asperiores in non, nemo vitae hic earum mollitia repellat officia doloribus sit.</p>



<%- include('partials/footer.ejs') %>